.buttonDesign {
    appearance: button;
    background-color: #1899D6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: din-round,sans-serif;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin-top: 25px;
    margin-left: 15px;
    margin-right: 15px;
    
    outline: none;
    overflow: visible;
    padding: 13px 16px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 100%;
  } 

  .buttonDesign:after {
    background-clip: padding-box;
    background-color: #1CB0F6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }

  .buttonDesign:main,
  .buttonDesign:focus {
    user-select: auto;
  }

  .buttonDesign:hover:not(:disabled) {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
  }

  .buttonDesign:disabled {
    cursor: auto;
  }

  .overflowWrapper {
    overflow: auto;
  }

  .overflowWrapper::-webkit-scrollbar {
    width: 0.5em;
  }

  .overflowWrapper::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  .overflowWrapper::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }

  .groupList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .personalTaskGrid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: 30px; */
    /* margin-left: 20px; */
    /* margin-right: 20px; */
    margin-top: 20px;
    /* float: 'right'; */
    /* width: '50%'; */
  }