.inputBox {
    width: 100%;
    height: 30px;
    background-color: white;
    border-radius: 0px;
    border: none;
    margin-bottom: 20%;
}

.inputBox2 {
    width: 100%;
    height: 30px;
    background-color: lightgray;
    border-radius: 5px;
    border: none;
}


*{padding: 0; margin: 0; box-sizing: border-box;}
body{height: 900px;}
header {
	background: url('https://i.stack.imgur.com/ewUIL.jpg');
	text-align: center;
	width: 100%;
	height: auto;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	overflow: hidden;
	border-radius: 0 0 85% 85% / 30%;
}


.class_title {
	font-family: 'Dancing Script', cursive;
    font-weight: bold;
	font-size: 35px;
	margin-bottom: 3;
}

.action_btn {
    width: 200px;
    margin: 0 auto;
    display: inline;}

    /* CSS */
.button-63 {
    align-items: center;
    background-image: linear-gradient(144deg,#71c7e9, #25aadf 50%,#3e8b91);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 10px 10px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
}

.button-63:active,
.button-63:hover {
    outline: 0;
}

@media (min-width: 768px) {
    .button-63 {
    font-size: 24px;
    min-width: 196px;
    }
}
.button-64 {
    align-items: center;
    background-image: linear-gradient(144deg,#928f96, #0c0c0e 50%,#667072);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 10px 10px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
  }
  
  .button-64:active,
  .button-64:hover {
    outline: 0;
  }
  
  @media (min-width: 768px) {
    .button-64 {
      font-size: 24px;
      min-width: 196px;
    }
  }




