.buttonDesign {
    color: black;
    background-color: white;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3em;
    width: 8em;
    font-size: large;
    font-weight: 600;
  } 

  .buttonDesign:hover {
    color: #1cc49d;
    background-color: gray;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3em;
    width: 8em;
    font-size: large;
    font-weight: 600;
  }

  .overflowWrapper {
    overflow: auto;
  }

  .overflowWrapper::-webkit-scrollbar {
    width: 0.5em;
  }

  .overflowWrapper::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  .overflowWrapper::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }

  .groupList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


