.scrollWrapper {
    overflow:scroll;
    overflow-x:hidden;
}

.scrollWrapper::-webkit-scrollbar {
    background: transparent; /* make scrollbar transparent */
}

.scrollWrapper::-webkit-scrollbar-track {
    background: transparent; /* make scrollbar transparent */
}

.scrollWrapper::-webkit-scrollbar-thumb {
    background: transparent; /* make scrollbar transparent */
}

.taskList {
    width: 100%;
    background-color: #f0f0f0;
}

