.app {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: none;
    gap: 20px;
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    background-color: transparent;
    outline: none;
  }
  
  input[type="text"],
  input[type="password"] {
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
  
  .logining{
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
    background: #01d28e;
    border: 1px solid #01d28e;
    color: #fff;
    padding: 10px 20px;
  }
  
  .logining:hover{
    background: #6cf0c2;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
  }
  
  .login-form {
    background-color: transparent; 
    padding: 2rem;
    border: none;
    outline: none;
    box-shadow: none;
  
  }
  
  .list-container {
    display: flex;
  }
  
  .error {
    color: red;
    font-size: 12px;
  }
  
  .title {
    font-size: 25px;
    margin-bottom: 20px;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px;
  }

  .input {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px;
    padding: 0;
    font-size: 15px;
  }

  .inputButton {
    cursor: pointer;
    font-size: 15px;
    background: #01d28e;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid transparent;
    }

  .inputButton:hover{
    background: #6cf0c2;
  }

  .inputLogin {
    cursor: pointer;
    font-size: 15px;
    padding: 5px;
    border-radius: 5%;
    height: 50px;
    background-color: lightgray;
    opacity: 0.6;
    color: black;
  }

.btnFacebook { 
  width: 14vw;
  height:50px;  
  border-radius: 4px;
  background: #3b5998;
  color:white;
  border:0px transparent;  
  margin:5px;
  display: inline-block;
  margin-top: -10px;
}

.header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center; /* making vertical centerign of all children */
}

.header::before, .header::after {
  content: '';
  flex: 1 1 auto; /* the first digint is 'flex-grow: 1', helps elemet to occupy all free space */ 
  border-bottom: solid 1px grey;
}

h6 {
  flex: 0 1 auto; /* the first digint is flex-grow: 0 */ 
  padding: 0 15px 0 15px;
  color: grey;
}