.app {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    background-color: #f8f9fd;
  }
  
  input[type="text"],
  input[type="password"] {
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
  
  .logining{
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
    background: #01d28e;
    border: 1px solid #01d28e;
    color: #fff;
    padding: 10px 20px;
  }
  
  .logining:hover{
    background: #6cf0c2;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
  }
  
  .login-form {
    background-color: white;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .list-container {
    display: flex;
  }
  
  .error {
    color: red;
    font-size: 12px;
  }
  
  .title {
    font-size: 25px;
    margin-bottom: 20px;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px;
  }

  .input {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px;
    padding: 0;
    font-size: 15px;
  }

  .inputButton {
    cursor: pointer;
    font-size: 15px;
    background: #01d28e;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid transparent;
    }

  .inputButton:hover{
    background: #6cf0c2;
  }

  .inputLogin {
    cursor: pointer;
    font-size: 15px;
    padding: 5px;
    border-radius: 5%;
    height: 50px;
    background-color: lightgray;
    opacity: 0.6;
    color: black;
  }

  .btnFacebook { 
    width: 15vw;
    height:45px;  
    border-radius: 4px;
    background: #3b5998;
    color:white;
    border:0px transparent;  
    /* text-align: center; */
    margin:5px;
    display: inline-block;
  }