
a:active{
    background-color:#000;
    color:white;
}

.bubble {
    display: inline-block;
    border-radius: 25%;
    color: white;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
}


.bubble:hover {
    opacity: 0.6;
}

.block {
    display: inline-block;
    color: white;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
}

.block:hover {
    background-color: #555;
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.right {
    text-align:right;
}

.navbar-nav, .navbar-nav > li, .nav-link.active {
    color: black;
}

.dropdown-toggle::after {
    display: none !important;
    content: none;
}
