
.step-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: black;
    margin: 0 0 0 10px;
}

.step-number {
    font-size: 20px;
    text-align: center;
    color: white;
}

.activeStep {
    background-color: #FFC107;
}

.completedStep {
    background-color: #4CAF50;
}

.tutorialCircles {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.tutorialHeader {
    width: 100%;
}

.nextButton {
    align-self: flex-start;
}

.TutorialFooter {
    width: 100%;
}

.tutorial-title {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}


.tutorial-step-title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.tutorial-step-description {
    font-size: 15px;
    text-align: center;
}

.tutorial-step-image {
    width: 30%;
    height: 30%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    object-fit: contain;
}